In [19]:
import os
import pandas as pd
import numpy as np

In [7]:
os.getcwd()

'C:\\Users\\runek\\Documents'

In [10]:
os.chdir('C:/Users/runek/Kaggle_Competitions/Goodreads')

In [49]:
# read Goodreads train set and set it to dataframe
goodreads_df = pd.read_csv(r'C:\Users\runek\Kaggle_Competitions\Goodreads\goodreads_train.csv')

In [33]:
# view the column names
goodreads_df.columns

Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments'],
      dtype='object')

In [34]:
# check the number of rows that exist for column review_text
goodreads_df['review_text'].count()

900000

In [35]:
# check the number of rows with blank entries for column review_text
goodreads_df.isnull().any(axis=1).sum()

284493

In [50]:
# remove all blanks (particularly from review_text)
goodreads_df = goodreads_df.dropna()

In [102]:
# check count again, and see that it is less than before (blank reviews have been removed)
goodreads_df['review_text'].count()

615507

In [111]:
goodreads_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments,positive_words,negative_words,overall
0,8842281e1d1347389f2ab93d60773d4d,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,"[This, is, a, special, book, ., It, started, s...",Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,Sat Aug 26 12:05:52 -0700 2017,Tue Aug 15 13:23:18 -0700 2017,28,1,1,0,positive
2,8842281e1d1347389f2ab93d60773d4d,28684704,2ede853b14dc4583f96cf5d120af636f,3,"[A, fun, ,, fast, paced, science, fiction, thr...",Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,Sat Mar 18 23:22:42 -0700 2017,Fri Mar 17 23:45:40 -0700 2017,22,0,0,0,neutral
4,8842281e1d1347389f2ab93d60773d4d,25884323,332732725863131279a8e345b63ac33e,4,"[I, really, enjoyed, this, book, ,, and, there...",Mon Apr 25 09:31:23 -0700 2016,Mon Apr 25 09:31:23 -0700 2016,Sun Jun 26 00:00:00 -0700 2016,Sat May 28 00:00:00 -0700 2016,9,1,1,0,positive
5,8842281e1d1347389f2ab93d60773d4d,19398490,ea4a220b10e6b5c796dae0e3b970aff1,4,"[A, beautiful, story, ., It, is, rare, to, enc...",Sun Jan 03 21:20:46 -0800 2016,Tue Sep 20 23:30:15 -0700 2016,Tue Sep 13 11:51:51 -0700 2016,Sat Aug 20 07:03:03 -0700 2016,35,5,2,0,positive
6,8842281e1d1347389f2ab93d60773d4d,22318578,5fe9882bfe4b0520a322820c4c55747d,5,"[5, stars, for, giving, me, a, better, framewo...",Sun Jun 07 12:50:13 -0700 2015,Wed Mar 22 11:36:58 -0700 2017,Sun Aug 09 00:00:00 -0700 2015,Sun Jun 07 00:00:00 -0700 2015,24,3,0,0,neutral

In [52]:
goodreads_df2 = goodreads_df

positive_words = ['good', 'great', 'fantastic', 'awesome', 'thrilling', 'spell-binding', "coudn't put it down"] 
negative_words = ['terrible','bad','awful', 'boring', 'badly written', 'sucks', 'stinks']

goodreads_df2['positive_words'] = goodreads_df2['review_text'].str.count('|'.join(positive_words))
goodreads_df2['negative_words'] = goodreads_df2['review_text'].str.count('|'.join(negative_words))

conditions = [
(goodreads_df['positive_words'] > goodreads_df2['negative_words']),
(goodreads_df['negative_words'] > goodreads_df2['positive_words']),
(goodreads_df['negative_words'] == goodreads_df2['positive_words'])
]

choices = [
'positive',
'negative',
'neutral'
]

goodreads_df2['overall'] = np.select(conditions, choices, default = '')

# goodreads_df2

In [53]:
goodreads_df2.columns

Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments', 'positive_words', 'negative_words', 'overall'],
      dtype='object')

In [120]:
df1 = goodreads_df.iloc[:14000]
df2 = goodreads_df.iloc[14000:28000]
df3 = goodreads_df.iloc[28000:42000]
df4 = goodreads_df.iloc[42000:56000]
df5 = goodreads_df.iloc[56000:70000]
df6 = goodreads_df.iloc[70000:84000]
df7 = goodreads_df.iloc[84000:98000]
df8 = goodreads_df.iloc[98000:112000]
df9 = goodreads_df.iloc[112000:126000]
df10 = goodreads_df.iloc[126000:140000]
df11 = goodreads_df.iloc[140000:154000]
df12 = goodreads_df.iloc[154000:168000]
df13 = goodreads_df.iloc[168000:182000]
df14 = goodreads_df.iloc[182000:196000]
df15 = goodreads_df.iloc[196000:210000]
df16 = goodreads_df.iloc[21000:224000]
df17 = goodreads_df.iloc[224000:238000]
df18 = goodreads_df.iloc[238000:252000]
df19 = goodreads_df.iloc[252000:266000]
df20 = goodreads_df.iloc[266000:]

In [68]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.util import ngrams, bigrams, trigrams

In [ ]:
# goodreads_df["review_text"] = goodreads_df["review_text"].apply(nltk.word_tokenize)
# goodreads_df.head()

In [106]:
review_text_df1 = df1['review_text']

In [121]:
df1['string_review_text'] = [','.join(map(str, l)) for l in df1['review_text']]
df1

C:\Users\runek\AppData\Local\Temp/ipykernel_12552/1020753775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['string_review_text'] = [','.join(map(str, l)) for l in df1['review_text']]

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments,positive_words,negative_words,overall,string_review_text
0,8842281e1d1347389f2ab93d60773d4d,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,"[This, is, a, special, book, ., It, started, s...",Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,Sat Aug 26 12:05:52 -0700 2017,Tue Aug 15 13:23:18 -0700 2017,28,1,1,0,positive,"This,is,a,special,book,.,It,started,slow,for,a..."
2,8842281e1d1347389f2ab93d60773d4d,28684704,2ede853b14dc4583f96cf5d120af636f,3,"[A, fun, ,, fast, paced, science, fiction, thr...",Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,Sat Mar 18 23:22:42 -0700 2017,Fri Mar 17 23:45:40 -0700 2017,22,0,0,0,neutral,"A,fun,,,fast,paced,science,fiction,thriller,.,..."
4,8842281e1d1347389f2ab93d60773d4d,25884323,332732725863131279a8e345b63ac33e,4,"[I, really, enjoyed, this, book, ,, and, there...",Mon Apr 25 09:31:23 -0700 2016,Mon Apr 25 09:31:23 -0700 2016,Sun Jun 26 00:00:00 -0700 2016,Sat May 28 00:00:00 -0700 2016,9,1,1,0,positive,"I,really,enjoyed,this,book,,,and,there,is,a,lo..."
5,8842281e1d1347389f2ab93d60773d4d,19398490,ea4a220b10e6b5c796dae0e3b970aff1,4,"[A, beautiful, story, ., It, is, rare, to, enc...",Sun Jan 03 21:20:46 -0800 2016,Tue Sep 20 23:30:15 -0700 2016,Tue Sep 13 11:51:51 -0700 2016,Sat Aug 20 07:03:03 -0700 2016,35,5,2,0,positive,"A,beautiful,story,.,It,is,rare,to,encounter,a,..."
6,8842281e1d1347389f2ab93d60773d4d,22318578,5fe9882bfe4b0520a322820c4c55747d,5,"[5, stars, for, giving, me, a, better, framewo...",Sun Jun 07 12:50:13 -0700 2015,Wed Mar 22 11:36:58 -0700 2017,Sun Aug 09 00:00:00 -0700 2015,Sun Jun 07 00:00:00 -0700 2015,24,3,0,0,neutral,"5,stars,for,giving,me,a,better,framework,for,h..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22494,0223a9592bfaf2edce5a348a293c254b,29068220,d0dc4a4d9eadedaad8bad974ddffbece,5,"[ARC, provided, by, publisher, in, exchange, f...",Wed Jul 27 20:19:03 -0700 2016,Tue Aug 09 09:04:15 -0700 2016,Sat Jul 30 00:00:00 -0700 2016,Sat Jul 30 00:00:00 -0700 2016,36,8,3,1,positive,"ARC,provided,by,publisher,in,exchange,for,an,h..."
22496,0223a9592bfaf2edce5a348a293c254b,25296512,64827a026e193ef945e9871a8eea1acc,5,"[ARC, provided, by, author, in, exchange, for,...",Sun Jul 24 21:53:17 -0700 2016,Mon Jul 25 20:27:53 -0700 2016,Mon Jul 25 00:00:00 -0700 2016,Sun Jul 24 00:00:00 -0700 2016,37,8,0,0,neutral,"ARC,provided,by,author,in,exchange,for,an,hone..."
22499,0223a9592bfaf2edce5a348a293c254b,30936989,c32a1c951f3412cbf9ca3ecc4f382382,4,"[ARC, provided, by, author, in, exchange, for,...",Mon Jul 18 20:14:06 -0700 2016,Tue Jul 19 13:42:18 -0700 2016,Tue Jul 19 14:36:28 -0700 2016,Tue Jul 19 00:00:00 -0700 2016,6,0,0,0,neutral,"ARC,provided,by,author,in,exchange,for,an,hone..."
22500,0223a9592bfaf2edce5a348a293c254b,30304059,d8b2f4b901de991e6dd290b5c4902a63,5,"[ARC, provided, by, author, in, exchange, for,...",Sat Jul 16 09:52:37 -0700 2016,Tue Jul 19 09:14:27 -0700 2016,Mon Jul 18 00:00:00 -0700 2016,Sat Jul 16 00:00:00 -0700 2016,35,11,0,0,neutral,"ARC,provided,by,author,in,exchange,for,an,hone..."
22502,0223a9592bfaf2edce5a348a293c254b,30340138,0548fd686573b48f2198fa6962c4ec25,4,"[ARC, provided, by, author, in, exchange, for,...",Tue Jul 12 23:13:35 -0700 2016,Thu Jul 14 00:45:14 -0700 2016,Wed Jul 13 00:00:00 -0700 2016,Wed Jul 13 00:00:00 -0700 2016,22,2,1,0,positive,"ARC,provided,by,author,in,exchange,for,an,hone..."

In [118]:
# goodreads_df['liststring'] = [','.join(map(str, l)) for l in goodreads_df['review_text']]
# goodreads_df.head()

In [112]:
# tokenText_df1 = review_text_df1.apply(word_tokenize)

In [122]:
review_text_df1 = df1["string_review_text"].apply(nltk.word_tokenize)

KeyboardInterrupt:

In [123]:
from collections import Counter
Counter(" ".join(df1['string_review_text']).split()).most_common(10)

[('Actual,rating,-,3.5', 37),
 ('Review,to,come,.', 23),
 ('You,can,find,this,review,,,and,many,others,,,on,my,blog,.', 12),
 ('RTC,.', 11),
 ('Check,out,my,review,@,Witch,Plus,Cat', 9),
 ('Listened,to,audiobook,.', 8),
 ('Review,coming,soon,.', 6),
 ('Check,out,my,review,@,booksteaandcake.blogspot.com.au', 6),
 ('3.5,stars,Listened,to,audiobook,.', 4),
 ('See,the,first,book,in,the,series,for,my,review,.', 4)]

In [15]:
# Take book_id, n_votes, n_comments, and rating. Invesitagte whether the number of votes and comments can predict rating.

goodreads_comments = goodreads_df.drop(columns = ['user_id', 'review_id', 'review_text', 'date_added', 'date_updated', 'read_at',
                                                 'started_at'])

In [16]:
goodreads_comments.head()

    book_id  rating  n_votes  n_comments
0  18245960       5       28           1
1     16981       3        1           0
2  28684704       3       22           0
3  27161156       0        5           1
4  25884323       4        9           1